img{
    width: 5em;
    height: 5em;
    /* border: 2 em yellowgreen solid; */
    border-radius: 50%;
    cursor: pointer;
    background-color: gold
}

table{
    width: 100%;
    border: 3px solid green;
    border-collapse: collapse;
}

td,th{
    border:1px black solid;
}